@font-face {
  font-family: 'opensans';
  src: url(../fonts/opensans.ttf); }
body {
  background: #B4E4E9; }

.upload-ct {
  width: 700px;
  height: 550px;
  margin: 180px auto 0;
  background: #FDFEFE;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 6px 14px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease; }
  .upload-ct:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 12px 18px rgba(0, 0, 0, 0.15); }
  .upload-ct .upload-header {
    height: 84px;
    margin: 0 50px;
    border-bottom: 1px solid #E1E8EB; }
    .upload-ct .upload-header h3 {
      font-size: 34px;
      margin: 0;
      padding: 25px 0;
      font-weight: 100;
      font-family: 'opensans';
      float: left; }
    .upload-ct .upload-header i {
      width: 38px;
      height: 38px;
      margin: 25px 0;
      border: 1.5px solid #CED0D0;
      border-radius: 50%;
      color: #CED0D0;
      font-weight: 100;
      line-height: 38px;
      font-size: 14px;
      text-align: center;
      float: right;
      transition: all 0.3s; }
      .upload-ct .upload-header i:hover {
        color: #4dd0e1;
        border-color: #4dd0e1;
        transform: scale(1.2, 1.2) rotate(90deg);
        transform-origin: center center; }
  .upload-ct .upload-content {
    width: 600px;
    height: 348px;
    margin: 14px 50px;
    position: relative; }
    .upload-ct .upload-content .drop-area {
      border: 2px dashed #27AFBE;
      border-radius: 4px;
      color: #4DD0E1;
      width: 100%;
      top: 0;
      bottom: 0;
      position: absolute;
      background-clip: padding-box;
      transition: top .3s; }
      .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
        .wrap i {
          font-size: 24px;
          display: block;
          text-align: center; }
        .wrap p {
          margin: 0;
          text-align: center;
          line-height: 1.2; }
  .upload-ct .upload-footer {
    border-top: 1.5px solid #E1E8EB;
    height: 88px;
    border-radius: 0 0 8px 8px;
    background: #F7FAFA;
    position: relative; }
    .upload-ct .upload-footer .discard {
      color: #ABB9BA;
      border: 1px solid #E1E8EB;
      height: 38px;
      width: 110px;
      background: #FDFEFE;
      box-sizing: content-box;
      padding: 0;
      border-radius: 4px;
      position: absolute;
      top: 23px;
      left: 385px; }
      .upload-ct .upload-footer .discard:focus {
        outline: none; }
      .upload-ct .upload-footer .discard {
        transition: box-shadow 0.3s; }
      .upload-ct .upload-footer .discard:hover {
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1); }

.chooseFile {
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: #4DD0E1;
  vertical-align: sub; }
  .chooseFile:active {
    color: #4DD0E1; }
  .chooseFile input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;
    opacity: 0; }

.upload-button {
  color: white;
  display: inline-block;
  width: 150px;
  height: 40px;
  text-decoration: none;
  border-radius: 4px;
  background-color: #27AFBE;
  line-height: 40px;
  text-align: center;
  font-weight: 300;
  position: absolute;
  top: 23px;
  left: 505px; }

.file-ct {
  padding: 0;
  width: 100%;
  list-style: none;
  max-height: 77%;
  overflow-y: scroll; }
  .file-ct:after {
    content: '';
    display: table;
    clear: both; }
  .file-ct .file-item {
    border-radius: 4px;
    border: 1px solid #E1E8EB;
    margin-bottom: 10px;
    position: relative;
    height: 80px; }
    .file-ct .file-item i {
      width: 55px;
      padding: 24px 0;
      color: #26c6da;
      text-align: center;
      float: left; }
    .file-ct .file-item .item-l {
      float: left;
      padding: 16px 0; }
      .file-ct .file-item .item-l p {
        margin: 0; }
      .file-ct .file-item .item-l .file-name {
        color: #4c4c4c; }
      .file-ct .file-item .item-l .file-size {
        color: #919596;
        font-size: 10px;
        font-style: italic; }
    .file-ct .file-item .item-r {
      float: right; }
      .file-ct .file-item .item-r i {
        color: #A8B4B6;
        background: #EDEFF0;
        border-radius: 50%;
        padding: 0;
        margin: 32px 22px;
        font-size: 12px;
        text-align: center;
        line-height: 16px;
        height: 16px;
        width: 16px;
        transition: all .3s; }
        .file-ct .file-item .item-r i:hover {
          color: #4dd0e1;
          transform: scale(1.2, 1.2) rotate(90deg);
          transform-origin: center center; }

/*# sourceMappingURL=upload.css.map */
